<div class="container">
    <div class="form-wrapper">
        <h2>Add Product</h2>
        <form class="product-form">
            <!-- <div class="form-group">
                <label for="productId">Product ID</label>
                <input type="number" id="productId" class="form-control" [(ngModel)]="products.productId">
            </div> -->
            <div class="form-group">
                <label for="productName">Product Name</label>
                <input type="text" id="productName" class="form-control" [(ngModel)]="products.name">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" id="price" class="form-control" [(ngModel)]="products.price">
            </div>
            <div class="form-group">
                <label for="available">Available</label>
                <input type="checkbox" id="available" class="form-check-input" [(ngModel)]="products.available">
            </div>
            <div class="form-group">
                <label for="brandId">Brand ID</label>
                <input type="number" id="brandId" class="form-control" [(ngModel)]="products.brandId">
            </div>
            <div class="form-group">
                <label for="stock">Stock</label>
                <input type="number" id="stock" class="form-control" [(ngModel)]="products.stock">
            </div>

            <div class="form-group">
                <app-upload></app-upload>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-primary" (click)="save()">Save</button>
                <button type="button" class="btn btn-secondary" (click)="addProduct()">Add</button>
            </div>
        </form>
    </div>
</div>
