<div class="container">
  <button class="btn btn-secondary mx-2" (click)="sortProduct('asc')">Price: Low to High</button>
  <button class="btn btn-secondary mx-2" (click)="sortProduct('desc')">Price: High to Low</button>

  <div class="row">
      <div *ngFor="let item of products" class="col-md-4 mb-3">
          <div class="product-tile">
              <img src="http://localhost:5254/Resources/Images/{{item.image}}" alt="{{item.name}}">
              <div class="product-details">
                  <h5>{{item.name}}</h5>
                  <p>Price: ₹{{item.price}}</p>
                  <button (click)="addToCart(item.productId)">Add to Cart</button>
              </div>
          </div>
      </div>
  </div>
</div>
