/* Container styles */
.container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

/* Table styles */
.table {
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header row styles */
.table th {
    background-color:#3498db;
    color: #fff;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid #fff; /* Add a bottom border for separation */
}

/* Body row styles */
.table tbody tr:nth-child(even) {
    background-color: #f5f5f5; /* Slightly lighter background for even rows */
}

.table tbody tr:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

/* Cell styles */
.table td {
    border: 1px solid #ddd;
    padding: 12px; /* Increased padding for better spacing */
    text-align: center;
}

/* Footer row styles */
.table tfoot td {
    font-weight: bold;
    padding: 10px;
    text-align: center;
    background-color:#3498db; /* Match the header background color for consistency */
    color: #fff;
    border-top: 2px solid #fff; /* Add a top border for separation */
}

/* Button styles */
.btn {
    padding: 12px 20px; /* Increased padding for better button size */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: #c82333; /* Darker Red on hover */
    border: 1px solid #bd2130;
  }

.btn-danger:hover {
    background-color: #c0392b;
}

.btn-secondary {
    background-color:green; /* Update the secondary button color */
    color: #fff;
}

.btn-secondary:hover {
    background-color: #2980b9; /* Darker color on hover */
}